{% extends 'base.html.twig' %}

{% block title %}Admin
{% endblock %}
{% block monTitre %}Partie Admin
{% endblock %}
{% block body %}
	<br>


	<div class="container">
		<a href="" class="btn btn-success">Ajouter</a>
		<br>
		<br>


		<table class="table">
			<thead class="table-primary"></thead>

			<tr>
				<th scope="col">Images</th>
				<th scope="col">Aliments</th>
				<th scope="col">Prix</th>
				<th scope="col">Calories</th>
				<th scope="col">Proteine</th>
				<th scope="col">Glucide</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for aliment in aliments %}
				<tr>
					<td>
						<img src="{{asset('images/' ~ aliment.image)}}" class="moTypss"></td>

					<td>{{aliment.prix}}
					</td>
					<td>{{aliment.calorie}}
					</td>
					<td>{{aliment.proteine}}
					</td>
					<td>{{aliment.glucide}}
					</td>
					<td>{{aliment.lipide}}
					</td>
					<td>
						<a href="" class="btn btn-secondary">Modifier</a>
						<a href="" class="btn btn-danger">Supprimer</a>
					</td>

				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>{% endblock %}
